@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.wrapper {
  position: relative;
  .extra {
    position: absolute;
    font-size: 18px;
    border: 1px solid #41403e40;
    top: 14px;
    left: 14px;
    padding: 8px 12px 4px;
    border-radius: 6px;
    text-transform: capitalize;
  }
  .heart {
    position: absolute;
    top: 19px;
    right: 24px;
  }

  .img {
    background: #eeebe5;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 4px;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 7px;
  }

  .price {
    font-family: "Montserrat";
    color: #dead6f;
    font-size: 26px;
    margin-bottom: 18px;
  }

  .buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;

    button {
      background: none;
      font-size: 17px;
      font-family: "Chilanka", cursive;
      text-transform: uppercase;
      width: 100%;
      padding: 20px 0;
      border-color: #41403e30;
      font-size: 17px;

      &.added {
        background: #41403e;
        color: white;
      }
    }
  }
}
