.wrapper {
  width: 100%;
  margin-top: 1.5rem;
  padding: 18px 12px 18px 5px;
  background: #f7eee4;
  display: flex;
  justify-content: center;

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;

    .text {
      font-size: 55px;
      font-weight: normal;
      display: block;
    }

    .buttonsWrapper {
      display: flex;
      gap: 55px;
    }
  }
}
